#mar_display_popup {
    font-size: 20px;
    cursor: pointer;
}

#mar_popup_box {
    visibility: hidden;
    display: none;
    width: 30%;
    background-color: #BDBDBD;
    position: fixed;
    left: 35%;
    top: 30%;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0px 0px 10px 0px grey;
    font-family: helvetica;
}

#mar_popup_box #mar_cancel_button {
    float: right;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 5px;
    background-color: grey;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 1000px;
    width: 25px;
    border: 1px solid #424242;
    box-shadow: 0px 0px 10px 0px grey;
    cursor: pointer;
}

#mar_popup_box #mar_info_text {
    padding: 10px;
    clear: both;
    background-color: white;
    color: #6E6E6E;
}

#mar_popup_box #mar_close_button {
    margin: 0px;
    padding: 0px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background-color: grey;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}