@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #B18FCF;
}

::-webkit-scrollbar-thumb {
    background: #494850;
}

::-webkit-scrollbar-thumb:hover {
    background: #D8D8F6;
}


/* all similar content styling codes */

section {
    padding: 110px 0px 250px 0px;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}


/* section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #494850;
    transform: translateX(-50%);
} */

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #2C2C34;
    padding: 0 5px;
    background: #B18FCF;
    transform: translateX(-50%);
}


/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.8s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: #2C2C34;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #2C2C34;
    font-size: 35px;
    font-weight: 600;
    transition: color 0.8s ease;
}

.navbar.sticky .logo a {
    color: #D8D8F6;
}

.navbar .logo a span {
    color: #D8D8F6;
    transition: all 0.8s ease;
}

.navbar.sticky .logo a span {
    color: #B18FCF;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #2C2C34;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a {
    color: #D8D8F6;
}

.navbar .menu li a:hover {
    /*menu colors*/
    color: #D8D8F6;
    text-decoration: underline;
}

.navbar.sticky .menu li a:hover {
    /*menu colors*/
    color: #B18FCF;
}


/* menu btn styling */

.menu-btn {
    color: #B18FCF;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #D8D8F6;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #B18FCF;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* home section styling */

.home {
    display: flex;
    background: url("/images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #2C2C34;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-a {
    font-size: 27px;
}

.home .home-content .text-b {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-c {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-c span {
    color: #D8D8F6;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #2C2C34;
    color: #B18FCF;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #2C2C34;
    transition: all 0.8s ease;
}

.home .home-content a:hover {
    color: #2C2C34;
    background: none;
    text-decoration: underline;
}


/* about me section styling */

.about {
    background-color: #B18FCF;
}


/* .about .title::after {
    content: "who i am";
} */

.about .about-content .left {
    width: 45%;
}

.about .about-content .left .profile-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D8F6;
    background: url("/images/profile.jpg") no-repeat;
    background-size: contain;
    transition: all 0.8s ease-in;
}

.about .about-content .left .profile-img:hover {
    background: url("/images/profile-3.jpg") no-repeat;
    background-size: contain;
    transition: all 0.8s ease-out;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: #D8D8F6;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: #2C2C34;
    color: #B18FCF;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #2C2C34;
    transition: all 0.8s ease;
}

.about .about-content .right a:hover {
    color: #2C2C34;
    background: none;
}

.about .about-content .right a span.bottom-dl {
    color: #B18FCF;
    background: none;
    font-size: 10px;
    padding: 0%;
    transition: all 0.8s ease;
}

.about .about-content .right a:hover span.bottom-dl {
    color: #2C2C34;
    background: none;
    font-size: 10px;
    padding: 0%;
}


/* services section styling */

.services {
    color: #B18FCF;
    background: #494850;
}

.services .title::before {
    background: #B18FCF;
}


/* .services .title::after {
    background: #494850;
    content: "what i provide";
} */

.services .serv-content .card p {
    text-align: justify;
    padding: 0px 15px;
}

.services .serv-content .card {
    color: inherit;
    text-decoration: none;
    margin-bottom: 35px;
    width: calc(33% - 20px);
    background: #D8D8F6;
    text-align: center;
    border-radius: 23px;
    padding: 30px 25px;
    cursor: pointer;
    transition: all 0.8s ease;
}

.services .serv-content .card:hover {
    color: #D8D8F6;
    background: #2C2C34;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: #2C2C34;
    transition: color 0.8s ease;
}

.services .serv-content .card:hover i {
    /*icon color*/
    color: #B18FCF;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* skills section styling */


/* .skills .title::after {
    content: "what i know";
} */

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}


/* .skills .skills-content .left a {
    display: inline-block;
    background: #2C2C34;
    color: #B18FCF;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #2C2C34;
    transition: all 0.8s ease;
} */

.skills .skills-content .left a:hover {
    color: #2C2C34;
    background: none;
    text-decoration: underline;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #2C2C34;
}

.skills-content .right .html::before {
    width: 65%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 17%;
}

.skills-content .right .php::before {
    width: 30%;
}

.skills-content .right .mysql::before {
    width: 57%;
}

.skills-content .right .java::before {
    width: 74%;
}


/* contact section styling */


/* .contact .title::after {
    content: "what i know";
    background: #D8D8F6;
} */

.contact {
    background: #D8D8F6;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #2C2C34;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.8s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #9000f7;
    background-color: #272727;
    color: #D8D8F6;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area button {
    color: #B18FCF;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #2C2C34;
    border: 2px solid #2C2C34;
    transition: all 0.8s ease;
}

.right form .button-area button:hover {
    color: #2C2C34;
    background: none;
}


/* footer section styling */

footer {
    background: #2C2C34;
    padding: 15px 23px;
    color: #D8D8F6;
    text-align: center;
}


/* footer span a {
    color: #B18FCF;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
} */

footer span div {
    color: #B18FCF;
    text-decoration: none;
}

footer span div:hover {
    text-decoration: underline;
}

footer span div span a.ico-facebook {
    color: #234efc;
    text-decoration: none;
}

footer span div span a.ico-twitter {
    color: #fff;
    border-radius: 3px;
    padding: 0px 3.5px;
    text-decoration: none;
    background: #05c6e0;
}

footer span div span a.ico-insta {
    border-radius: 3px;
    padding: 0px 3.5px;
    color: #fff;
    text-decoration: none;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6244d 60%, #285AEB 90%);
}

footer span div span a.ico-tiktok {
    color: #ffffff;
    border-radius: 3px;
    padding: 0px 3.5px;
    text-decoration: none;
    background: #000000;
}

footer span div span a.ico-github {
    color: #000000;
    text-decoration: none;
}


/* responsive media query start */

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #494850;
        text-align: center;
        padding-top: 80px;
        transition: all 0.8s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .right form .error-box {
        width: 150px;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


/* Popup 1 container */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup 1 */

.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #ffffff5f;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


/* Toggle this class - hide and show the popup 1 */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* popup 2 */

.popup-two {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup 2 */

.popup-two .popupcopy {
    visibility: hidden;
    background-color: #ffffff5f;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 25px 8px;
    border: #000000;
    z-index: 1;
    /* bottom: 125%; */
    /* left: 50%; */
    margin-left: -35px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 550%;
    height: 325%;
    font-size: 18px;
}


/* Toggle this class - hide and show the popup 2 */

.popup-two .show2 {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}