test
0_old_files
package-lock.json
package.json
.prettierrc
assets/images/5f42f40866d5b076884670b5d660f051.jpg
assets/images/1bc1bcfdfb51941aecb444fa1e0516e3.jpg
assets/images/ba46f3bb7f36c3f2e56626372fa09739.jpg
js/obfuscate.js

# AUDIOS
# https://www.chosic.com/wp-content/uploads/2022/05/Roa-Innocence(chosic.com).mp3
# https://www.chosic.com/wp-content/uploads/2023/04/Clown(chosic.com).mp3
# https://www.chosic.com/wp-content/uploads/2022/04/Enigma-Long-Version-Complete-Version(chosic.com).mp3
# https://www.chosic.com/wp-content/uploads/2022/06/Pixel-Peeker-Polka-faster(chosic.com).mp3
# https://www.chosic.com/wp-content/uploads/2021/08/Urban-Hip-Hop(chosic.com).mp3
# https://www.chosic.com/wp-content/uploads/2022/09/Hidden-Official-(chosic.com).mp3
# https://www.chosic.com/wp-content/uploads/2021/06/Sweet(chosic.com).mp3
# https://www.chosic.com/wp-content/uploads/2022/09/The-Last-of-Us(chosic.com).mp3