@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
html,
body {
	background-color: #040a22;
	cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48ZGVmcz48ZmlsdGVyIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iLjUiIGZsb29kLWNvbG9yPSIjMDAwIiByZXN1bHQ9ImZsb29kIi8+PGZlQ29tcG9zaXRlIGluPSJmbG9vZCIgaW4yPSJTb3VyY2VHcmFwaGljIiBvcGVyYXRvcj0iaW4iIHJlc3VsdD0iY29tcG9zaXRlMSIvPjxmZUdhdXNzaWFuQmx1ciBpbj0iY29tcG9zaXRlMSIgc3RkRGV2aWF0aW9uPSIxIiByZXN1bHQ9ImJsdXIiLz48ZmVPZmZzZXQgZHg9IjIiIGR5PSIyIiByZXN1bHQ9Im9mZnNldCIvPjxmZUNvbXBvc2l0ZSBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJvZmZzZXQiIHJlc3VsdD0iY29tcG9zaXRlMiIvPjwvZmlsdGVyPjxmaWx0ZXIgaWQ9ImEiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiI+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iLjUiIGZsb29kLWNvbG9yPSIjMDAwIiByZXN1bHQ9ImZsb29kIi8+PGZlQ29tcG9zaXRlIGluPSJmbG9vZCIgaW4yPSJTb3VyY2VHcmFwaGljIiBvcGVyYXRvcj0iaW4iIHJlc3VsdD0iY29tcG9zaXRlMSIvPjxmZUdhdXNzaWFuQmx1ciBpbj0iY29tcG9zaXRlMSIgc3RkRGV2aWF0aW9uPSIxLjUiIHJlc3VsdD0iYmx1ciIvPjxmZU9mZnNldCBkeD0iMyIgZHk9IjMiIHJlc3VsdD0ib2Zmc2V0Ii8+PGZlQ29tcG9zaXRlIGluPSJTb3VyY2VHcmFwaGljIiBpbjI9Im9mZnNldCIgcmVzdWx0PSJjb21wb3NpdGUyIi8+PC9maWx0ZXI+PC9kZWZzPjxnIGZpbHRlcj0idXJsKCNhKSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDAwIj48cGF0aCBkPSJNNyA0bDE2IDV2NGwtMTMtNHMtMiAzLTIgN2wyIDcgMTAtMi0xLTQgNC0ydjE2aC00bDEtNy0xMyAzcy0zLTctMy0xMWwzLTEyIi8+PHBhdGggZD0iTTQxIDRsLTE2IDV2NGwxMy00czIgMyAyIDdsLTIgNy0xMC0yIDEtNC00LTJ2MTZoNGwtMS03IDEzIDNzMy03IDMtMTFsLTMtMTIiLz48cGF0aCBkPSJNMTMgMzNoNHYxMXMtNC00LTQtN3YtNCIvPjxwYXRoIGQ9Ik0zMSAzM2g0djRjMCAzLTQgNy00IDd6Ii8+PHBhdGggZD0iTTE5IDMzaDR2NGgtNHoiLz48cGF0aCBkPSJNMjUgMzNoNHY0aC00eiIvPjwvZz48L3N2Zz4=),
		default;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
	fill: none;
	stroke: rgb(255, 255, 255) !important;
}

.ql-active .ql-stroke {
	fill: none;
	stroke: rgb(255, 255, 255) !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
	fill: rgb(255, 255, 255) !important;
	stroke: none;
}

.ql-active .ql-fill {
	fill: rgb(255, 255, 255) !important;
	stroke: none;
}

.main-character {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 5;
	width: 450px;
	pointer-events: none;
}

.naming {
	font-size: 30px;
	font-weight: 600;
	-webkit-text-stroke: 2px rgb(255, 255, 255);
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
	line-height: 1.4;
}

/* --------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Orbitron', sans-serif;
}

img {
	width: 100%;
	pointer-events: none;
	user-select: none;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: clamp(1.9rem, 2vw, 3rem);
	opacity: 0;
	animation: title 1.1s ease 0.3s 1 normal forwards;
}

@keyframes title {
	0% {
		opacity: 0;
		letter-spacing: 10px;
		color: #ebeeff;
	}
	100% {
		opacity: 1;
		letter-spacing: 0;
		color: #fff;
	}
}

.hidden {
	display: none;
}

html,
body {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('./assets/images/5f42f40866d5b076884670b5d660f051.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

/* ------------ */

/* ICON STYLES */

.icon-container {
	position: fixed;
	bottom: 18px;
	display: flex;
	z-index: 20;
	flex-direction: row;
	align-items: center;
	gap: 14px;
	padding: 10px 14px;
	background: rgba(255, 255, 255, 0.079);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
	border: 1px solid rgba(255, 255, 255, 0.233);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 12px;
}

.icon-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	aspect-ratio: 1/1;
	border-radius: 12px;
	color: #ffffff;
	font-size: 1.5rem;
	padding: 5px;
	cursor: pointer;
	transition: all 0.4s;
}

.icon-box:hover {
	transform: scale(1.1);
}

.about {
	background: #0d6f9d;
	background: linear-gradient(30deg, #0e4bbe 0%, #0c0fb6 70%);
}

.certificates {
	background: rgb(93, 126, 216);
	background: linear-gradient(310deg, #3156a6 0%, #0c3dae 60%);
}

.drawings {
	background: #cfc57c;
	background: linear-gradient(310deg, #cfbc7c 0%, #785c1f 60%);
}

.contact {
	background-color: #e0819d;
	background-image: linear-gradient(340deg, #f397b2 0%, #93143a 100%);
}

/* ------- */

/* POPUP */

body.prevent-background-scroll {
	min-height: 100dvh;
	overflow-y: hidden;
}

.prevent-scroll {
	overflow: hidden;
}

#about {
	display: block;
}

.popup {
	display: none;
	position: fixed;
	inset: 0;
	background: #00000080;
	z-index: 20;
	animation: openPopup 0.6s ease-in-out 1 normal;
}

@keyframes openPopup {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.popup-container {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: min(900px, 90%);
	background: #85858533;
	box-shadow: #64646f33 0px 7px 29px 0px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid #ffffff99;
	border-radius: 12px;
	color: #fff;
	z-index: 30;
	transition: all 0.5s ease-in-out;
}

.popup-header {
	position: relative;
	display: flex;
	gap: 8px;
	font-weight: 600;
	padding: 15px 20px 10px;
	font-size: 1.2rem;
}

.popup-body {
	color: #f7f7f7;
	height: 70vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 30px 50px;
}

.popup.maximized .popup-body {
	height: 100vh;
}

.button-container {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.circle-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 0;
	outline: 0;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.2s;
}

.circle-btn i {
	opacity: 0;
	transition: all 0.2s;
	font-size: 0.5rem;
	color: rgb(65, 66, 67);
}

.circle-btn:hover {
	opacity: 1;
	transform: scale(1.03);
}

.button-container:hover i {
	opacity: 1;
}

.red {
	background-color: #ff605c;
}

.red i {
	font-size: 0.8rem;
}

.yellow {
	background-color: #ffbd44;
}

.yellow i {
	transform: translateY(-3px);
}

.green {
	background-color: #00ca4e;
}

.green i {
	transform: rotate(90deg);
}

/* --------- */

/* SCROLLBAR */

.popup-body::-webkit-scrollbar {
	width: 0.7rem;
}

.popup-body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.375rem #4f4e4e;
	border-radius: 0.8rem;
}

.popup-body::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0.375rem #4141f6e6;
	outline: none;
	border-radius: 0.8rem;
}

/* ------ */

/* ABOUT */

.about-container {
	display: grid;
	grid-template-columns: 40% 50%;
	gap: 30px;
	place-items: center;
}

.about-container p {
	line-height: 1.6;
	font-size: 1.1rem;
}

.about-container .img-frame {
	overflow: hidden;
	width: 250px;
	border-radius: 8px;
	box-shadow: #3e67a8cc 0px 10px 30px 8px, #3e5aa8cc 0px 0px 0px 2px;
}

.about-container .img-frame img {
	aspect-ratio: 1;
	transform: scale(1.05);
	object-fit: cover;
	background: url('./assets/images/21bfd997e2e0fd56425685cd592f4d2c.jpg'),
		no-repeat;
	background-size: contain;
	transition: all 0.8s ease-in;
}

.about-container .img-frame:hover img {
	transform: rotate(2deg) scale(1.05);
	background: url('./assets/images/c483f6ce851c9ecd9fb835ff7551737c.jpg'),
		no-repeat;
	background-size: contain;
	transition: all 0.8s ease-out;
}

/* ------- */

/* SKILLS */

.skill-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.skill-list h1 {
	text-align: center;
	margin-bottom: 30px;
}

.skill-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 12px;
	width: min(100%, 400px);
	margin: 0 auto;
}

.skill-list ul li {
	font-size: 1rem;
	font-weight: 500;
	border-radius: 5px;
	background: linear-gradient(
		130deg,
		rgba(55, 115, 234, 0.7) 0%,
		rgba(46, 71, 152, 0.5) 100%
	);
	backdrop-filter: blur(30px);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 8px 12px;
}

/* --------- */

/* certificates */

.cert-container h1 {
	text-align: center;
	animation-delay: 0.8s;
	margin: 20px 0;
}

.all-certificates {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-items: center;
	gap: 30px;
	padding: 30px;
}

.all-certificates img {
	height: 200px;
	object-fit: fill;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cert-box {
	position: relative;
	width: 320px;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 200px;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(10, 67, 98, 0.6);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid #000;
	border-radius: 12px;
	list-style: none;
	z-index: 1;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.overlay:hover {
	opacity: 1;
	backdrop-filter: blur(2px);
}

.overlay h3,
.overlay button {
	opacity: 0;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
}

.overlay:hover h3,
.overlay:hover button {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}

.overlay:hover h3 {
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
}

.overlay:hover button {
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
}

.more-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	border: 1px solid #fff;
	background-color: transparent;
	margin-top: 20px;
	cursor: pointer;
}

.more-btn::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #fff;
	z-index: -1;
	transition: all 0.4s;
}

.more-btn:hover::before {
	height: 100%;
	top: 0;
}

.more-btn span {
	color: #fff;
	line-height: 1;
	transition: color 0.4s;
}

.more-btn:hover span {
	color: #000;
}

/* ------------- */

/* Control Buttons */

.control {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 6px;
	margin-top: 16px;
}

.control li {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(237, 223, 36, 0.8);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
		inset 0px 4px 4px rgba(255, 255, 255, 0.2);
	padding: 10px;
	margin: 3px;
	border-radius: 50%;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.4s ease-in;
}

.control li:hover {
	background: rgba(224, 198, 26, 0.8);
	transform: scale(0.98);
}

.arrow {
	font-size: 1.8rem;
	color: #fff;
}

/* -------- */

/* CONTACT */

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 30px 0;
}

.contact-container h1,
.contact-container p {
	text-align: center;
	margin-bottom: 16px;
}

.contact-container p {
	font-size: 1rem;
	margin-bottom: 30px;
}

form {
	width: min(650px, 95%);
}

input[type='text'],
select,
textarea {
	font-size: 1rem;
	width: 100%;
	padding: 14px;
	background-color: transparent;
	color: #fff;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 10px 0 20px;
	resize: vertical;
}

input[type='text']:focus-visible,
select:focus-visible,
textarea:focus-visible {
	border: 2px solid rgb(23, 20, 220);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #fff;
}

.submit-btn {
	padding: 12px 20px;
	font-size: 1.1rem;
	margin: 10px auto 0;
}

.submit-btn span {
	display: flex;
	gap: 10px;
}

@media (max-width: 900px) {
	.popup-body {
		padding: 30px;
	}
}

@media (max-width: 750px) {
	.about-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 4fr;
		grid-template-areas: 'img-frame' 'hero-content';
		padding: 160px 30px 50px;
	}
	.about-container .img-frame {
		grid-area: img-frame;
		width: 230px;
		aspect-ratio: 1/1;
	}
	.hero-content {
		grid-area: hero-content;
		margin-top: 110px;
		text-align: center;
	}
	.about-container h1 {
		margin-bottom: 16px;
	}
}

@media (max-width: 600px) {
	.card {
		height: 280px;
	}
	.user-info h2 {
		font-size: 0.9rem;
	}
}

@media (max-width: 480px) {
	.about-container .img-frame {
		grid-area: img-frame;
		width: 180px;
		aspect-ratio: 1/1;
	}
	.all-certificates img {
		height: 180px;
	}
}

/* GLIMMER BUTTON */

:root {
	--glow-hue: 222deg;
	--shadow-hue: 180deg;
	--spring-easing: linear(
		0,
		0.002,
		0.01 0.9%,
		0.038 1.8%,
		0.156,
		0.312 5.8%,
		0.789 11.1%,
		1.015 14.2%,
		1.096,
		1.157,
		1.199,
		1.224 20.3%,
		1.231,
		1.231,
		1.226,
		1.214 24.6%,
		1.176 26.9%,
		1.057 32.6%,
		1.007 35.5%,
		0.984,
		0.968,
		0.956,
		0.949 42%,
		0.946 44.1%,
		0.95 46.5%,
		0.998 57.2%,
		1.007,
		1.011 63.3%,
		1.012 68.3%,
		0.998 84%,
		1
	);
	--spring-duration: 1.33s;
}

@property --shimmer {
	syntax: '<angle>';
	inherits: false;
	initial-value: 33deg;
}

@keyframes shimmer {
	0% {
		--shimmer: 0deg;
	}
	100% {
		--shimmer: 360deg;
	}
}

@keyframes shine {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	55% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text {
	0% {
		background-position: 100% center;
	}
	100% {
		background-position: -100% center;
	}
}

.button-glimmer {
	margin: 10px;
	color: var(--bg);
	font-weight: 600;
	background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5);
	background-image: linear-gradient(
		315deg,
		#c4ddff -10%,
		#8ba6f7 50%,
		#ffedd6 110%
	);
	cursor: pointer;
	padding: 0.8em 1.4em;
	position: relative;
	isolation: isolate;
	box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%),
		inset 0 -10px 20px -10px hsla(var(--shadow-hue), 10%, 90%, 95%);
	border-radius: 0.66em;
	scale: 1;
	transition: all var(--spring-duration) var(--spring-easing);
}

.button-glimmer:hover:not(:active),
.button-glimmer.active {
	transition-duration: calc(var(--spring-duration) * 0.5);
	scale: 1.2;
	box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%),
		inset 0 0 0 transparent;
}

.button-glimmer:active {
	scale: 1.1;
	transition-duration: calc(var(--spring-duration) * 0.5);
}

.shimmer {
	position: absolute;
	inset: -40px;
	border-radius: inherit;
	mask-image: conic-gradient(
		from var(--shimmer, 0deg),
		transparent 0%,
		transparent 10%,
		black 36%,
		black 45%,
		transparent 50%,
		transparent 60%,
		black 85%,
		black 95%,
		transparent 100%
	);
	mask-size: cover;
	mix-blend-mode: plus-lighter;
	animation: shimmer 1s linear infinite both;
}

.button-glimmer:hover .shimmer::before,
.button-glimmer:hover .shimmer::after,
.button-glimmer.active .shimmer::before,
.button-glimmer.active .shimmer::after {
	opacity: 1;
	animation: shine 1.2s ease-in 1 infinite forwards;
}

.shimmer::before,
.shimmer::after {
	transition: all 0.5s ease;
	opacity: 0;
	content: '';
	border-radius: inherit;
	position: absolute;
	mix-blend-mode: color;
	inset: 40px;
	pointer-events: none;
}

.shimmer::before {
	box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
		0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
		0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
		0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
	z-index: -1;
}

.shimmer::after {
	box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
		inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
		inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
	z-index: 2;
}

.button-glimmer .text {
	color: black;
	background-clip: text;
	background-color: var(--bg);
	background-image: linear-gradient(
		120deg,
		transparent,
		hsla(var(--glow-hue), 100%, 80%, 0.66) 40%,
		hsla(var(--glow-hue), 100%, 90%, 0.9) 50%,
		transparent 52%
	);
	background-repeat: no-repeat;
	background-size: 200% 200%;
	background-position: center 200%;
}

.button-glimmer:hover .text,
.button-glimmer.active .text {
	animation: text 0.66s ease-in 1 both;
}

.row {
	display: inline;
	flex-wrap: wrap;
	justify-content: space-between;
	/* Adjust alignment as needed */
	margin-bottom: 10px;
	/* Add spacing between rows */
}

a span.bottom-dl {
	color: #212121;
	background: none;
	font-size: 10px;
	padding: 0%;
	transition: all 0.8s ease;
}

a:hover span.bottom-dl {
	color: #2c2c34;
	background: none;
	font-size: 10px;
	padding: 0%;
}

/* FOR MODAL IMAGE POPUP */

.fullscreen {
	width: auto;
}
