body {
  cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA4aTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAwAAAAYAAAAGAAABDAAAAYwAAAHYAAAB+AAAAf+AAAH/AAAB/gAAAfwAAAH4AAAB8AAAAeAAAAHAAAABgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA///////////////////////////////////P////h////4f///8P///PD///xh///8If///AP///wAP//8AD///AB///wA///8Af///AP///wH///8D////B////w////8f////P////3/////////////////////////////8='),
    auto;
  margin: 0;
  padding: 15px 10px;
  min-height: 99%;
  /* width: 100%;
  min-width: 550px; */
  color: #907aa9;
  background-color: #292b36;
  font-family: cursor, monospace;
  overflow-x: hidden;
  /* -moz-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  text-size-adjust: auto;
  background-attachment: scroll;
  background-size: cover; */
}

a {
  align-items: center;
  justify-content: center;
}

::selection {
  color: #b49bc9;
  background: #ffffff;
}

::-moz-selection {
  color: rgb(180, 155, 201);
  background: rgb(255, 255, 255);
}

textarea {
  left: -1000px;
  position: absolute;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor Start */

.cursor {
  font-size: 12px;
  color: #c9cadd;
  background-color: #c9cadd;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: #f9f9f9;
}

#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

#liner::before {
  color: #c07489;
  content: 'guest@daxxtropezz.github.io:~$';
}

#liner.password::before {
  content: 'Password:';
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Cursor End */

p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: typing 0 steps(30, end);
}

.margin {
  margin-left: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.index {
  color: #dcdccc;
}

.color2 {
  color: #f374eb;
}

.command {
  color: #a6dcde;
  text-shadow: 0 0 5px #8a9ce8;
}

.error {
  color: #ef6969;
}

.white {
  color: #fff;
}

.inherit,
a {
  color: #e186c4;
}

a {
  text-decoration: inherit;
  transform: translateY(4px);
  transition: 0.5s;
}

a:hover {
  background: #f0fa80;
  color: #211830;
  animation: blinker 1s linear infinite;
  border-radius: 30px 0 30px 0;
  padding: 0 10px 0 10px;
}

a:focus {
  outline: 0;
}

.text-center {
  text-align: center;
}

li {
  list-style-type: none;
}

/* Define breakpoints and font sizes */

@media only screen and (min-width: 360px) {
  p,
  #liner::before {
    font-size: 6.5px;
  }
}

@media only screen and (min-width: 522px) {
  p,
  #liner::before {
    font-size: 9px;
  }
}

@media only screen and (min-width: 591px) {
  p,
  #liner::before {
    font-size: 9px;
  }
}

@media only screen and (min-width: 621px) {
  p,
  #liner::before {
    font-size: 12px;
  }
}

@media only screen and (min-width: 810px) {
  p,
  #liner::before {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  p,
  #liner::before {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1437px) {
  p,
  #liner::before {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .md\:w-max {
    width: -moz-max-content;
    width: max-content;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .md\:animate-spin {
    animation: spin 1s linear infinite;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-col {
    flex-direction: column;
  }
  .md\:text-\[16px\] {
    font-size: 16px;
  }
  .md\:text-\[17px\] {
    font-size: 17px;
  }
  .md\:text-\[5rem\] {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:pt-\[28\.5\%\] {
    padding-top: 28.5%;
  }
}
